<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Configure our database -->
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
		<property name="hibernate.connection.username">bookapp</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		<property name="hibernate.connection.pool_size">35</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		
		<!-- We can some hibernate specific things -->
		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		
		<!-- Backwards compatibility for id generation -->
		<property name="hibernate.id.new_generator_mappings">false</property>
		
		<!-- Tell Hibernate that we are mapping classes -->
		
		<!-- Annotation -->
		<mapping class="com.revature.beans.User"/>
		<mapping class="com.revature.beans.Genre"/>
	</session-factory>
</hibernate-configuration>